manifest {
    author = 'Hung-Lin, Chen'
    name = 'Plott' 
    homePage = 'http://github.com/hunglin59638/plott'
    description = 'A pipeline to assembly genomes'
    mainScript = 'main.nf'
    version = '1.0.0'
    nextflowVersion = '>= 20.07.0'
}

process {
    cpus = Runtime.getRuntime().availableProcessors()
    // memory = {8.Gb*task.attempt}
    errorStrategy = { task.attempt <= 2 ? "retry" : "ignore" }
    maxRetries = 2
    cache = true
}


params {
    help = false
    output = "plott_out"
    long_reads = ""
    long_read_source = "nano-raw"
    short_1 = ""
    short_2 = ""
    out_dir = "$launchDir/" + params.output
    threads = Runtime.getRuntime().availableProcessors()
    is_meta = false
    sketches = ""
}

docker {
    enabled = false // change to true when using Docker
    runOptions = '-u \$(id -u):\$(id -g)'
}

dag {
    enabled = false
    file = 'pipeline_dag.html'
}